# Import

In [ ]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv("customer_shopping_data.csv")

# Function

In [ ]:
def first_day_of_week(date):
  return date + timedelta(days = -date.weekday())

# Parameter

In [ ]:
lat_long_dict = {'Kanyon':(41.0780999,29.0081189),
                 'Forum Istanbul':(41.0475149,28.8943038),
                 'Metrocity':(41.0762448,29.010894),
                 'Metropol AVM':(40.9939789,29.1201009),
                 'Istinye Park':(41.110398,29.0306569),
                 'Mall of Istanbul':(41.0625312,28.8049507),
                 'Emaar Square Mall':(41.0034395,29.068805),
                 'Cevahir AVM':(41.0630838,28.9899516),
                 'Viaport Outlet':(40.9381447,29.3209749),
                 'Zorlu Center':(41.0669974,29.01298)}

# Introduction

This exercise aims to clean the Kaggle Customer Shopping Dataset, preparing it for seamless use in Tableau for dashboard creation.

In [ ]:
data['location'] = data['shopping_mall'].map(lat_long_dict) #latitude, longitude
data['latitude'] = data['location'].apply(lambda x : x[0])
data['longitude'] = data['location'].apply(lambda x : x[1])
data['invoice_date'] = pd.to_datetime(data['invoice_date'], dayfirst=True)

# Data Cleaning

Incorporating week, month, and year dimensions to enable dashboard dropdowns for diverse data dimension analyses.

In [ ]:
data['reporting_date'] = data['invoice_date'].copy()
data['first_day_of_week'] = data['reporting_date'].apply(lambda x:first_day_of_week(x))
data['first_day_of_month'] = data['reporting_date'].to_numpy().astype('datetime64[M]')
data['first_day_of_year'] = data['reporting_date'].to_numpy().astype('datetime64[Y]')

data['weeknum'] = data['reporting_date'].dt.isocalendar().week
data['weeknum'] = data['reporting_date'].dt.isocalendar().week
data['Year-Week'] = data['reporting_date'].dt.isocalendar().year.astype(str)+"-W"+data['weeknum'].astype(str)
data['Year-Month'] = data['reporting_date'].dt.strftime("%Y-%b")
data['Year'] = data['reporting_date'].dt.strftime("%Y")

In [ ]:
data[['reporting_date','Year','Year-Month','Year-Week','weeknum']].drop_duplicates().sort_values(['reporting_date']).head(15)

     reporting_date  Year Year-Month Year-Week  weeknum
4296     2021-01-01  2021   2021-Jan  2020-W53       53
1261     2021-01-02  2021   2021-Jan  2020-W53       53
220      2021-01-03  2021   2021-Jan  2020-W53       53
551      2021-01-04  2021   2021-Jan   2021-W1        1
1648     2021-01-05  2021   2021-Jan   2021-W1        1
1535     2021-01-06  2021   2021-Jan   2021-W1        1
681      2021-01-07  2021   2021-Jan   2021-W1        1
639      2021-01-08  2021   2021-Jan   2021-W1        1
2356     2021-01-09  2021   2021-Jan   2021-W1        1
764      2021-01-10  2021   2021-Jan   2021-W1        1
1769     2021-01-11  2021   2021-Jan   2021-W2        2
680      2021-01-12  2021   2021-Jan   2021-W2        2
7        2021-01-13  2021   2021-Jan   2021-W2        2
2892     2021-01-14  2021   2021-Jan   2021-W2        2
1596     2021-01-15  2021   2021-Jan   2021-W2        2

# Data Exploration

In [ ]:
print(data['invoice_date'].min(),data['invoice_date'].max())

2021-01-01 00:00:00 2023-03-08 00:00:00

In [ ]:
data.groupby(['shopping_mall'])['price'].sum()

shopping_mall
Cevahir AVM           3433671.84
Emaar Square Mall     3390408.31
Forum Istanbul        3336073.82
Istinye Park          6717077.54
Kanyon               13710755.24
Mall of Istanbul     13851737.62
Metrocity            10249980.07
Metropol AVM          6937992.99
Viaport Outlet        3414019.46
Zorlu Center          3509649.02
Name: price, dtype: float64

In [ ]:
data.groupby(['shopping_mall'])['invoice_no'].count()

shopping_mall
Cevahir AVM           4991
Emaar Square Mall     4811
Forum Istanbul        4947
Istinye Park          9781
Kanyon               19823
Mall of Istanbul     19943
Metrocity            15011
Metropol AVM         10161
Viaport Outlet        4914
Zorlu Center          5075
Name: invoice_no, dtype: int64

In [ ]:
data.groupby(['shopping_mall'])['customer_id'].nunique()

shopping_mall
Cevahir AVM           4991
Emaar Square Mall     4811
Forum Istanbul        4947
Istinye Park          9781
Kanyon               19823
Mall of Istanbul     19943
Metrocity            15011
Metropol AVM         10161
Viaport Outlet        4914
Zorlu Center          5075
Name: customer_id, dtype: int64

In [ ]:
data[data.duplicated(['invoice_no'],keep=False)]

Empty DataFrame
Columns: [invoice_no, customer_id, gender, age, category, quantity, price, payment_method, invoice_date, shopping_mall, location, latitude, longitude, reporting_date, first_day_of_week, first_day_of_month, first_day_of_year, weeknum, Year-Week, Year-Month, Year]
Index: []

[0 rows x 21 columns]

In [ ]:
data['category'].unique()

array(['Clothing', 'Shoes', 'Books', 'Cosmetics', 'Food & Beverage',
       'Toys', 'Technology', 'Souvenir'], dtype=object)

In [ ]:
data['payment_method'].unique()

array(['Credit Card', 'Debit Card', 'Cash'], dtype=object)

In [ ]:
data.columns

Index(['invoice_no', 'customer_id', 'gender', 'age', 'category', 'quantity',
       'price', 'payment_method', 'invoice_date', 'shopping_mall', 'location',
       'latitude', 'longitude', 'reporting_date', 'first_day_of_week',
       'first_day_of_month', 'first_day_of_year', 'weeknum', 'Year-Week',
       'Year-Month', 'Year'],
      dtype='object')

# Export

In [ ]:
col = ['reporting_date','Year','Year-Month','Year-Week','weeknum','first_day_of_year','first_day_of_month','first_day_of_week',
       'invoice_no', 'customer_id', 'gender', 'age', 'category', 'quantity',
       'price', 'payment_method', 'invoice_date', 'shopping_mall', 'location','latitude', 'longitude']

data[col].to_csv("customer_shopping_data_processed.csv",index=False)